*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-b {
    background: #F0E3E3;
    height: 100%;
}

.section-b h1 {
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
}

.section-b .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    justify-content: center;
    padding: 50px;
    background: #F0E3E3;
    width: 100%;
    
}

.section-b .cards .card {
    position: relative;
    width: 400px;
    height: 682px;
    background: #F9FAF9;
    margin-bottom: 70px;
    margin: auto;
}


.section-b .cards .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.section-b .cards .card .imgBox img {
    max-width: 90%;
    margin-top: 12px;
    transition: 0.5s;
}

.section-b .cards .card .imgBox img:hover {
    max-width: 85%;
}

.section-b .cards .card .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    
}

.section-b .cards .card .contentBox h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 5px;
}

.section-b .cards .card .contentBox .price {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.section-b .cards .collections-text {
    margin-top: 10px;
    width: 85%;
}

.section-b .cards .collections-text h1 {
    font-size: 50px;
    text-align: left;
    font-size: 50px;
    text-align: left;
    padding: 20px;
    background: black;
    color: #fff;
}

.section-b .cards .collections-text p {
    font-size: 21px;
    padding-top: 12px;
    color: black;
    letter-spacing: 0.5px;
    line-height: 29px;
    max-width: 100%;
}

@media(max-width : 991px) {
    .section-b .cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .section-b .cards .collections-text {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 95%;
    }

    .section-b .cards .collections-text h1 {
        font-size: 35px;
        max-width: 54%;
    }

    .section-b .cards .collections-text p {
        font-size: 20px;
        max-width: 100%;
    }
  
}

@media (max-width : 640px) {
    .section-b .cards {
        grid-template-columns: repeat(2,1fr);
    }

    .section-b .cards .collections-text {
        max-width: 95%;
        margin-left: 5px;
    }

    .section-b .cards .collections-text h1 {
        font-size: 35px;
        
    }

    .section-b .cards .collections-text p {
        font-size: 17px;
        max-width: 90%;
    }

    .section-b .cards .card {
        width: 257px;
        height: 477px;
    }

    .section-b .cards .card .contentBox h3 {
        font-size: 12px;
    }

    .section-b .cards .card .contentBox .price {
        font-size: 14px;
    }




}

@media (min-width: 320px) and (max-width: 480px) {

    .section-b .cards  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        order: 1;
    }



    .section-b h1 {
        font-size: 45px;
    }

    .section-b .cards .collections-text h1 {
        max-width: 93%;
        font-size: 1.5rem;
        text-align: center;
    }

    .section-b .cards .collections-text {
        max-width: 88%;
        text-align: center;
}
    
    
  }




