.section-d {
    background: #fff;
    height: 100%;
}

.section-d h1 {
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}


.section-d .cards .card {
    position: relative;
    width: 430px;
    height: 603px;
    margin: auto;
}

.section-d .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    padding: 50px;
    background: #fff;
}

